html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  font-size: 12pt;
}
body {
  display: flex;
  background-color: #FCF2D8;
}
.countdown,
.done {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.done {
  border: 36pt solid black;
  animation: pulse 1s ease 0s infinite alternate;
}
@keyframes pulse {
  from {
    border-color: #cf5959;
  }
  to {
    border-color: white;
  }
}
button {
  font-size: 20px;
  border-radius: 6px;
  background-color: white;
  border: 1px solid #91daf5;
  box-shadow: 2px 2px #F8DECE;
  cursor: pointer;
  width: 300px;
  margin-bottom: 20px;
}
@media (max-width: 35em) {
  .done {
    flex-direction: column;
  }
}
.good {
  background-color: #89c27e;
}
.again {
  background-color: #cf9d59;
}

button:hover {
  background-color: grey;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}
